{{! This will be your default layout for all handlebars file rendered. This will be inherited by all other templates. }}

{{! Refer lecture code to learn more on how this works
don't forget to include your css and your client-side script file references in the layout.
}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Final Project Main Page</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>
    <header>
        <nav>
            <ul class="inline-block-nav">
                <li><a href="/">Home</a></li>
                {{#if user}}
                <li><a href="/users/profile">{{user.userName}}</a></li>
                <li><a href="/users/shoppingCart">shoppingCart</a></li>
                <li><a href="/upload">Upload</a></li>
                <li><a href="/users/logout">logout</a></li>

                {{else}}
                <li><a href="/users/login">login</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>
    <footer>CS546 - Group 9 - Final Project - Online-Marketplace</footer>

</body>

</html>