<link rel="stylesheet" href="/public/css/homeStyles.css">
<h1 class="home-h1">Online Marketplace</h1>
<main>
    <p class="home-paragraph">Here, you can buy and sell second hand items.
        This website is designed to serve as a one-stop virtual marketplace, catering exclusively to the needs of
        students who are setting up a new life.
    </p>
    <a href="/items">View all items</a>
</main>