<link rel="stylesheet" href="/public/css/homeStyles.css">
<h1 class="home-h1">Online Marketplace</h1>
<main>
    <p class="home-paragraph">Here, you can buy and sell second hand items.
        This website is designed to serve as a one-stop virtual marketplace, catering exclusively to the needs of
        students who are setting up a new life.
    </p>
    <h3 class="history-items">Browsing History</h3>
    <ol class="history-items" type="1">
        {{#each items}}
        <li>
            <a href="/items/{{this._id}}">{{this.item}}</a>
        </li>
        {{/each}}
    </ol>
    <a href="/items">View all items</a>




    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <script src="/public/js/home.js"></script>
 </main>


