<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Orders</title>
  <link rel="stylesheet" href="/public/css/loginStyles.css">
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script src="/public/js/login.js"></script>
</head>

<h1 class="signup-h1">Please log in</h1>
<p class="signup-link">New user? <a href="/users/signup">click here to sign up</a></p>

<form id="loginForm" action="/users/login" method="POST" class="login-form">
  <label for="usernameInput" class="username-login-label">Username</label>
  <input type="text" id="usernameInput" name="usernameInput" class="login-username">

  <label for="passwordInput" class="password-login-label">Password</label>
  <input type="password" id="passwordInput" name="passwordInput" class="login-password">

  <input type="submit" value="Submit" class="login-submit">
</form>

<p id="error"></p>

</html>