 <h1 class="signup-h1">Please log in</h1>
 <p class="signup-link">New user? <a href="/users/signup">click here to sign up</a></p>
 <main>
    <form action="/login" method="POST" class="login-form">
        <label for="Username" class="username-login-label">Username</label>
        <input type="text" name="username-input" class="login-username">
    
        <label for="searchCharacterByName" class="password-login-label">Password</label>
        <input type="text" name="password-input" class="login-password">

        <input type="submit" value="Submit" class="login-submit">
    </form>
 </main>