 <h1 class="signup-h1">Sign up</h1>
  <p class="signup-link">Already a user? <a href="/users/login">click here to log in</a></p>
 <main>
    <form action="/users/signup" method="POST" class="signup-form">
        <label for="firstNameInput" class="firstName-signup-label">First Name</label>
        <input type="text" id="firstNameInput" name="firstNameInput" class="signup-firstname">
    
        <label for="lastNameInput" class="last-signup-label">Last Name</label>
        <input type="text" id="lastNameInput" name="lastNameInput" class="signup-lastname">
        
        <label for="userNameInput" class="username-signup-label">Username</label>
        <input type="text" id="userNameInput" name="userNameInput" class="signup-username">
    
        <label for="emailAddressInput" class="password-signup-label">Email</label>
        <input type="email" id="emailAddressInput" name="emailAddressInput" class="signup-password">

        <label for="streetInput" class="password-signup-label">Street</label>
        <input type="text" id="streetInput" name="streetInput" class="signup-password">

        <label for="cityInput" class="password-signup-label">City</label>
        <input type="text" id="cityInput" name="cityInput" class="signup-password">

        <label for="stateInput" class="password-signup-label">State</label>
        <input type="text" id="stateInput" name="stateInput" class="signup-password">

        <label for="zipcodeInput" class="password-signup-label">zipCode</label>
        <input type="number" id="zipcodeInput" name="zipcodeInput" class="signup-password">

        <label for="ageInput" class="password-signup-label">age</label>
        <input type="number" id="ageInput" name="ageInput" class="signup-password">

        <label for="passwordInput" class="password-signup-label">Password</label>
        <input type="password" id="passwordInput" name="passwordInput" class="signup-password">

        <label for="confirmPasswordInput" class="password-signup-label">Confirm Password</label>
        <input type="password" id="confirmPasswordInput" name="confirmPasswordInput" class="signup-password">

        <input type="submit" value="Submit" class="signup-submit">
    </form>
    <p class="signup-p">
        Note: Password should be a minimum of 8 characters long.<br>
        There needs to be at least one uppercase character, there has to be at least one number, and there has to be at least one special character:<br>
        For example:<br>
        Not valid: test123, test123$, foobar, tS12$<br>
        Valid: Test123$, FooBar123*, HorsePull748*%
    </p>
    <p>{{errorMessage}}</p>

    <script src="/public/js/signup.js"></script>
 </main>