<link rel="stylesheet" href="/public/css/userProfileStyles.css">
<h1>User Profile</h1>
<a href="/users/historicalPurchase">Your orders</a>
<a href="/users/itemsForSale">Listing items</a>
<a href="/users/historicalSoldItems">Sales Record</a>
<a href="/users/determineMeetUpTime"> Unfinished orders</a>
<a href="/users/confirmMeetUpTime">schedule a meet up with buyer</a>