<link rel="stylesheet" href="/public/css/userProfileStyles.css">
<h1 class="userProfile">User Profile</h1>
<div>
    <a class="profileLink" href="/users/historicalPurchase">Your orders</a>
    <a class="profileLink" href="/users/itemsForSale">Listing items</a>
    <a class="profileLink" href="/users/historicalSoldItems">Historical sold items</a>
    <a class="profileLink" href="/users/determineMeetUpTime"> Unfinished orders</a>
    <a class="profileLink" href="/users/confirmMeetUpTime">schedule a meet up with buyer</a>
</div>