#searchItems {
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}


.search-form-label {
  padding: 13px 8px;
  display: block;
}

.search-input {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-submit {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#filterSearch {
  margin-bottom: 20px;
}

.filter-search-label {
  display: block;
  margin-bottom: 5px;
}

#sort_order {
  width: 150px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter-submit {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#all-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.item {
  border: 1px solid #ccc;
  padding: 20px;
}

.item p {
  margin-bottom: 10px;
}

.item a {
  color: #007bff;
  text-decoration: none;
}

.item img {
  max-width: 100%;
  height: auto;
}

.item-row {
  display: flex;
  margin-bottom: 20px;
}

#searchItems {
  display: flex;
  align-items: center;
}



.item {
  display: inline-block;
  margin-right: 10px;
  border: 3px solid #b0b0b0;
}

.item-row {
  margin-bottom: 20px;
}

.item-details {
  text-align: center;
}

.item-details img {
  display: block;
  margin: 0 auto;
}

.inline-block-nav>li {
  display: inline-block;
}