/* userProfileStyles.css */

/* Style for the user profile heading */
.userProfile {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  /* Centering container for profile links */
  .profileLinksContainer {
    text-align: center;
  }
  
  .profileLink {
    display: block;
    padding: 10px;
    margin: 10px auto;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 4px;
    width: 200px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .profileLink:hover {
    background-color: #007bff;
    color: white;
  }
  